.button-watch {
    float: right;
}

.btn__cart-info {
    min-width: 120px;
    margin: 4px 12px 16px 0;
    text-align: center;
    line-height: 3.4rem;
}

/* Modal Layout */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    border-radius: 5px;
    margin: auto;
    width: 500px;
    background-color: var(--white-color);
    z-index: 1;
}


.modal__auth-form {
    padding: 0 20px;
}
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__sign-up {
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
}

.modal__sign-in {
    font-size: 1.4rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
    padding: 0 12px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--back {
    margin-right: 10px;
}

.auth-form__socials {
    margin-top: 12px;
    height: 60px;
    background-color: #b5727226;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--with-icon {
    height: 36px;
    width: 200px;
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form__social-icon {
    padding: 0 16px 0 16px;
    font-size: 2.4rem;
}

.auth-form__social-text {
    padding-right: 16px;
}

.btn--facebook {
    margin-left: 36px;
    background-color: #1877F2;
    color: var(--white-color);
}

.btn--google {
    margin-right: 36px;
    background-color:#bfc8cce6;
    color: var(--white-color);
}

/* Container */

.container {
    background-color: rgb(245 245 245);
}

.category {
    margin: 16px 0;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-weight: 600;
}

.category__heading-icon {
    padding: 16px;
}

.category__list {
    list-style: none;
    padding: 0 16px;
    margin: 0;
}

.category__item {
    position: relative;
    right: 0;
    cursor: pointer;
    line-height: 4rem;
    border-bottom: 1px solid #ccc;
    transition: right linear 0.2s;
}

.category__item--active {
    color: var(--primary-color);
    margin-left: 8px;
}

.category__item--active::before {
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 44%;
    left: -6%;
}

.category__item:hover {
    color: var(--primary-color);
    right: -4px;
}

.category__item:nth-last-child(1) {
    border-bottom: none;
}

.content {
    margin-top: 16px;
    font-size: 1.4rem;
}

.content__heading {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .03);
    padding: 0.625rem;
}

.content__heading-title {
    color: #555;
}

.btn--selected {
    background-color: var(--primary-color)!important;
    color: var(--white-color)!important;
}

.btn--selected:hover {
    background-color: #ee4d2dad;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);
}

.btn-popular, .btn-newest, .btn-best-seller {
    min-width: 90px;
    background-color: var(--white-color);
    height: 36px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    margin: 0 6px;
    color: var(--text-color);
}

.content__option-sort {
    min-width: 200px;
    height: 36px;
    background-color: var(--white-color);
    line-height: 3.6rem;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    cursor: pointer;
}

.content__option-sort span {
    line-height: 3.6rem;
    width: 20px;
    width: 12px;
    fill: var(--text-color);
}

.content__list-products {
    margin-top: 20px;
}

/* List product */
.product-img {
    height: 200px;
    width: 100%;
    background-size: cover;
}

.product-item {
    background-color: var(--white-color);
    height: 330px;
    box-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
}

.product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.05);
}

.product-name {
    height: 3.6rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
    overflow: hidden;
    padding: 0 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-price-wrap {
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
}

.product-rating {
    display: flex;
    padding: 4px 10px;
}

.product__rating-stars {
    flex: 1;
    padding-right: 8px;
}
.product__star-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
}

.product__star {
    position: relative;
    height: 1rem;
    width: 1rem;
    margin: 0;
}

.product__star-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #ffce3d;
    fill: #ffce3d;
}

.product__type {
    line-height: 1.6rem;
    text-align: end;
    padding: 4px 10px;
}

.content__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 150px 0;
}

.btn-page-number {
    outline: none;
    border: none;
    min-width: 4rem;
    height: 3rem;
    background-color: transparent;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin: 0 20px;
    padding: 0;
    border-radius: 3px;
}

.btn-page-number.page-active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--left, .btn--right {
    color: rgba(0, 0, 0, 0.4);
    fill: rgba(0, 0, 0, 0.4);
}

.btn--left svg, .btn--right svg {
    height: 2rem;
    width: 2rem;
}

