.header__input-text:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    width: 600px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.26);
    display: none;
    z-index: 1;
}

.header__history-title {
    color: rgba(0,0,0,.26);
    padding: 0 16px;
}

.header__history-title-text {
    margin: 0;
    font-size: 1.4rem;
    line-height: 3.2rem;
}

.header__history-history {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__history-item {
    font-size: 1.4rem;
    line-height: 3.2rem;
    padding-left: 16px;
    color: var(--text-color);
    cursor: pointer;
}

.header__history-item:hover {
    background-color: #fafafa;
}
